<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noah &#128293;Pranav</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/socket.io/socket.io.js"></script>

</head>

<body>
  {{> header}}
  {{{ body }}}
  {{!-- {{> footer}} --}}
  {{!--put script links here--}}
</body>

</html>
