<!DOCTYPE html>
<html>
	<body>
		<p class="neon" id="chat-title">Choose One</p>
		<div id="chat-spacer">
			<div id="Noah-div" class="neon-div neon-hover chatbox" onclick="window.location = '/chat/noah';">
				<p class="neon">Noah</p>
				<div id="noah-pic" class="profile-pic"></div>
			</div>
			<div id="Pranav-div" class="neon-div neon-hover chatbox" onclick="window.location = '/chat/pranav';">
				<p class="neon">Pranav</p>
				<div id="pranav-pic" class="profile-pic"></div>
			</div>
			<div id="And-div" class="neon-div neon-hover chatbox" onclick="window.location = '/chat/Both';">
				<p class="neon">Both</p>
				<div id="both-pic" class="profile-pic"></div>
			</div>
			{{!--<div id="Or-div" class="neon-div neon-hover chatbox" onclick="window.location = '/chat/either';">
				<p class="neon">Either</p>
				<div id="either-pic" class="profile-pic">
					<p class="">?</p>
				</div>
			</div>--}}
		</div>
	</body>
</html>
