<!DOCTYPE html>
<html>
	<body>
		<p id="catch-all">
			If you forgot your password email noah.liguori-bills@uconn.edu.
		</p>
		<p id="catch-all">
			Noah is too lazy to code something for this.
		</p>
	</body>
</html>
