<!DOCTYPE html>
<html>
	<body>
		<h1>You do not have permission for this page</h1>
		<p>If you are Noah or Pranav, login to see content.</p>
		<p>If you are not, stop snooping around! Seriously, I'm not that good at
			coding so you'll probably find a way in.</p>
	</body>
</html>
