<!DOCTYPE html>
<html>
	<body>
		<div id="profile-box" class="neon-div">
			<p class="neon">{{name}}</p>
			<p>Email: {{email}}</p>
			<form action="logout" method="POST">
		    <input id="logout" class="pinkinput" type="submit" value="Logout">
			</input>
			</form>
		</div>
	</body>
</html>
