<!DOCTYPE html>
<html>
	<body>
		<div id="login-background">
			<div id="register-box" class="neon-div">
				<p class="neon">Register</p>
				<form id="login-form" action="register-post" method="POST">
					<input class="pinkinput" type="text" name="email" placeholder="Email" required>
					<input class="pinkinput" type="text" name="name" placeholder="Name" required>
					<input class="pinkinput" type="password" name="password" placeholder="Password" required>
					<div id="checkbox-holder">
						<input class="pinkinput" type="checkbox" name="notifications">
						<p>Email Notifications</p>
					</div>
					<input type="submit" class="pinkinput" value="Submit">
				</form>
			</div>
		</div>
	</body>
</html>
